:root {
  --color-background: whitesmoke;
  --primary: #111111;
  --secondary: #cacaca;
  --logo: #e60022;
  --transparent: rgba(245, 245, 245, 0.862);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* MAIN */

.fail{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.gallery {
  padding: 0 1rem;
  display: grid;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  grid-auto-flow: row dense;
}
